.val-example .demo {
    padding: 40px;
    margin: 20px 0; 
    border: 1px solid #eee;
    border-radius: 3px;
}

.val-example .code  {
    margin: 20px 0; 
    border: 1px solid #eee;
    background-color: #f5f5f5;
    border-radius: 3px;
}