<form name="introform" ng-controller="intro">
    <!--<div class="form-group" validator="required,string[min,max],regex[email],regex[phone],regex['/^(0[1-9]|1\d|2[0-8]|29(?=-\d\d-(?!1[01345789]00|2[1235679]00)\d\d(?:[02468][048]|[13579][26]))|30(?!-02)|31(?=-0[13578]|-1[02]))-(0[1-9]|1[0-2])-([12]\d{3}) ([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/gm'],number[min,max]">-->
    <!--you can use
        <div class="form-group" validator="required">
        if you don't want to override the validation message-->
    <div class="form-group" validator="required[Field is required]">
        <label for="requiredField">Required Field</label>
        <input type="text" class="form-control" id="requiredField" name="requiredField"
               placeholder="Required Field" ng-model="requiredField">
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="!introform.$valid">Submit</button>
</form>